<head>

<script type="text/javascript">
var idcount = 1
function soundoff(source){
putsound(source);

idcount = idcount+1
}

function putsound(source){
var n = document.createElement('audio');
n.setAttribute('autoplay', 'autoplay')
n.setAttribute('id', idcount)
n.setAttribute('controls', 'controls')
n.setAttribute('style', 'visibility: hidden')
n.setAttribute('onplaying', 'timeoutsound(this,5)')

n.innerHTML = '<source src='+source+' />'
document.body.insertBefore(n,document.getElementById("0"))


}

function timeoutsound(audio,time){
setTimeout(function (){audio.play();}, time*1000)
}
</script>

</head>
<h1>New image</h1>

<% for sound in @sounds %>
<button type="button" onclick="<%= "soundoff(\"#{sound.photo.url}\")" %>"> <%= sound.photo_id %></button>
<% end %>

<div id="0">
me
</div>
<audio autoplay="autoplay" controls="controls" style="visibility: hidden" onplaying="timeoutsound(this,3)"> 
    <source src="/system/photos/3/original/sly2.wav" /> 
</audio> 
<%= link_to 'Back', images_path %>
